/*@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

.home-body{
    
    min-height: 100vh;
    background-color: #dfe9f5;
    font-family: "Poppins", sans-serif;
}
.home-body a{
    text-decoration: none;
}
.home-container{
    display: flex;
}


.home-body li a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    text-decoration: none;
}



.home-body li a:hover{
    background: #eee;
}



.home-main{
    position: relative;
    padding: 20px;
    width: 100%;
    
}
.home-main-top{
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.home-main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
   
}
.main-links{
    display: flex;
    margin-top: 20px;

}
.main-links .links-card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-links .links-card h3{
    margin: 10px;
    text-transform: capitalize;
}

.main-links .links-card p{
    font-size: 12px;
}
.main-links .links-card h5{
    background-color: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
}
.main-links .links-card h5:hover{
    background: rgba(223,70,15,0.856);
}
.main-links .links-card i{
    font-size: 22px;
    padding: 10px;
}


.recent-blogs{
    margin-top: 50px;
    text-transform: capitalize;

}
.recent-blogs h1{
    font-size: 25px;
}
.blogs-box{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.blogs-box ul{
    list-style: none;
    display: flex;
}
.blogs-box ul li a{
    margin: 10px;
    color: gray;
    cursor: pointer;
}
.blogs-box ul .active{
    color: #000;
    border-bottom: 1px solid #000;
}


.recent-blog-box{
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(230, 244, 255);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.recent-blog-box p{
    font-size: 12px;
    margin-top: 5px;
}

.recent-blog-box h5{
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}
.recent-blog-box h5:hover{
    background: rgba(0,0,0,0.842);
}
.recent-blog-box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}
.html{
    color: rgb(25, 94, 54);
}
.blog-card-section h1{
    font-size: 18px;
    padding: 0px;
}
.blog-card-section img{
    padding: 3px 1px;
}
.blog-card-section{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.not-found{
    padding-top: 30px;
    margin: auto;
}
.not-found h1{
    text-align: center;
    font-weight: 300;
    font-size: medium;
    padding-top: 5px;
    color: #575757;
    text-transform: none;
}
.blog-header{
    display: flex;
    flex-direction: column;
}
.blog-header textarea{
    width: 80%;
    overflow-y: hidden;
}
.home-main form input{
    width: 80%;
    padding: 2px;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 5px;
}
.body-subBody{
    display: flex;
    width: 80%;
    justify-content: space-between;
    
}
.body-subBody textarea{
    width: 80%;
    height: 100px;
}
.inputSubbody{
    width: 100%;
}
.home-main form textarea {
    height: 200px;
    padding: 7px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
 }
.home-main{
    max-height: 100vh;
    overflow-y: scroll;
    padding-left: 30px;
}
.home-main form label {
    font-size: 15px;
    columns: black;
    font-weight: 500;
    padding: 10px 0px;
}
.blog-body{
    padding: 10px 0px;
}
.blog-image{
    padding: 10px 0px;
}
.second-division{
    display: block;
    margin: auto;
}
.second-division button{
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(206, 50, 50);
    color: white;
}
.blog-body-submit{
    padding: 15px 0px;
    
}

.footer-blog-body button{
    padding: 2px;
}
.add-text-area button{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(32, 151, 32);
    color: white;
}
.blog-body-submit button{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;

    display: block;
    margin: auto;
}
.home-blog-title h1{
    padding-bottom: 10px;

}
.home-container form p{
    font-size: 12px;
    color: rgb(141, 4, 4);
}
*/

